p {
  font-family: Lato;
}
table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
}

/* .outer {
  width: 500px;
  overflow: scroll;
  height: 200px;
} */

.usrHead {
  top: 0;
  left: 0;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  z-index: 20;
  background-color: gray;
}

.usrDtHead {
  top: 40px;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  z-index: 10;
  background-color: gray;
}

.usrMthHead {
  top: 0;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  z-index: 5;
  background-color: gray;
}

.echUsr {
  left: 0;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  z-index: 10;
  background-color: gray;
}

/* tr:hover,
th:hover {
  border: 3px solid red;
} */

/* td,
th {
  position: relative;
} */

th:hover::after {
  content: "";
  position: absolute;
  border: 3px solid red;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}

tr:hover {
  border: 3px solid red;
}
